body {
  width:1520px;
  margin: 0 auto;
  user-select: none;
    -ms-user-select: 'none';
    -moz-user-select: 'none';
    -webkit-user-select: none;
}
.navMenu {
  margin: 0 auto;
  
}

a {
text-decoration: none;
color: black;
}
.menu{
  display: flex;
  width:100%;
  margin-top: 20px;
}
.menuList {
  width: 380px;
  padding: 0;
  margin: 5px;
  border:1px solid black ;
  background-image: cover;
}
.menu h5 {
  padding-left: 10px;
  margin: 0;
}
.menu p {
  text-align: end;
  padding-right: 10px;
  margin: 0;
}
.black-nav {
  background-color: black;
  width: 100%;
  color: white;
  padding: 20px;
  font-weight: 600;
}

  
.list {
    margin-top:  30px;  
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
 
}
.titleChange {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.Modal {
  background-color: gray;
  color: black;
}
.checkbox{
  cursor: pointer;
}
.likeButton{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0 auto
  }
  .form {
    text-align: center;
  }
}
