body {
  width:1520px;
  margin: 0 auto;
  user-select: none;
    -ms-user-select: 'none';
    -moz-user-select: 'none';
    -webkit-user-select: none;

}

.black-nav {
  background-color: black;
  width: 100%;
  color: white;
  padding: 20px;
  font-weight: 600;
}

  
.list {
    margin-top:  30px;  
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
 
}
.titleChange {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.Modal {
  background-color: gray;
  color: black;
}
.checkbox{
  cursor: pointer;
}
.likeButton{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0 auto
  }
  .form {
    text-align: center;
  }
}
