
body {
  width:1520px;
  margin: 0 auto;
  user-select: none;
    -ms-user-select: 'none';
    -moz-user-select: 'none';
    -webkit-user-select: none;
}
.success{
    background-color: lightgreen;
  }
  
  .failure{
    background-color: lightcoral
  }
